*{margin: 0; padding: 0;}

#background{
    background: url('assets/storyboard6.png');
    width: 800px;
    height: 600px;
    position: absolute;
}

#player{
    background: url('assets/frame-1.png');
    width: 100px;
    height: 76px;
    position: absolute;
    left: 150px;
}

/* .pipe{
    position: absolute;
    background: url('assets/pipe.png');
    width: 74px;
    height: 200px;
    left: 300px;
    top: 400px;  
} */

#pipes{
    position: absolute;
    background: url('assets/pipe.png');
    width: 74px;
    height: 200px;
    left: 300px;
    top: 400px;  
}